/* Global */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    font-display: swap;
    color: #333;
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {  
    max-width: 800px; 
    margin-right: auto; 
    margin-left:  auto;
    padding-right: 30px; 
    padding-left:  30px;
}

/* Common */
/* Header */
header {    
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;   
}

header > * > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 70px;
}

header > * > div > ul > li > a {
    color: inherit;
    font-weight: 500 !important;
}

header > * > div > * > img {
    width: 50px;
    height: 50px;
}

header > * > div > * > li {
    display: inline-block;
    margin: 0 0 0 6rem;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(71, 71, 71);
    height: 250px;
}

footer > div > a {
    margin: 0 3rem;
    color: #fff;
}

footer > div > a:hover {
    opacity: 0.8;
}

footer > div > * > img {
    width: 4rem;
    height: 4rem;
}

footer > div > hr {
    margin: 2rem auto;
}

footer > div > p {
    color:#fff;
    font-size: 1.4rem;
}

/* Error page */
.error {
    text-align: center;
    margin-top: 10rem
}

/* Media Queries */
@media(max-width: 540px) { 
    footer > div {
        margin: 0 1.5rem; 
    }
}

@media(max-width: 400px) { 
    header > * > div {
        margin: 0 0 0 4rem; 
    }
}

/* Index */
.hero {
    text-align: center; 
    position: relative;
}

.hero > img {
    max-height: 350px;
    width: 100%;
    object-fit: cover;
}

.textContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(128, 128, 128, 0.8);
    padding: 0rem 2rem 1rem;
    border-radius: 5px;
}

.textContainer > h1 {
    font-size: 5rem;
}
 
.profile {
    padding: 8rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column-gap: 5rem;
    grid-auto-flow: dense;
}

.profile > * > p {
    margin-bottom: 0;
}

.profile > * > img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.skills { 
    padding: 0 0 10rem;
}

.skills > h2 {
    text-align: center;
    margin-bottom: 7rem;
}

.skills > .skillsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    grid-row-gap: 3rem;
}

.skills > .skillsContainer > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
}

.skills > .skillsContainer > * > img {
    width: 150px;
    height: 150px;
}

.ctaButton {
    padding: 0 0 10rem;
    text-align: center;
}

.ctaButton > a {
    display: inline-block;
    margin: 10rem 0;
    padding: 1.3rem 6rem;
    background-color: #35BCFF;
    border-radius: 25px; 
    color: #fff;
}

.ctaButton > a:hover {
    opacity: 0.8;
}

/* Media Queries */
@media(max-width: 540px) { 
    .textContainer {
        width: 80%;
        padding: 1.5rem 1rem 3rem;
    }

    .profile {
        padding: 5rem 0;
        grid-template-columns: 1fr;
        grid-row-gap: 3rem;
    }

    .skills > .skillsContainer {
        grid-template-columns: 1fr 
    }
    
    .skills > h2 {
        margin-bottom: 3rem;
    }
}

/* Contact */
.wrapper {
    padding: 7rem 0 10rem;   
}

input[type=text], input[type=email], textarea {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding: 0.4rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: solid 1px grey;
    border-radius: 5px;
}

label {
    font-size: 1.4rem;
}

button {
    width: 100%;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: #35BCFF;
    transition-duration: 0.4s;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

button:focus {
    outline: none;
}

/* Blog */
.wrapper {
    padding: 7rem 0 10rem;     
}

.blogCard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    color: inherit;
    margin-top: 5rem;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
}

.cardContainer {
    padding: 0 2rem 0.8rem;
}

.cardContainer > a {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: #35BCFF;
    color: #fff;
    border-radius: 5px;
    font-size: 1.4rem;
}

.linkButton:hover {
    opacity: 0.8;
}

.blogImg {
    height: 300px;
}

.blogImg > img {
    min-height: 300px;
    width: 100%;
    object-fit: cover;
}

/* Pagination */
.paginationWrapper {
    text-align: center;
    margin: 5rem auto;
}

.paginationWrapper > a {
    color: #35BCFF;
    padding: 0 1rem;
}

/* Media Queries */
@media(max-width: 540px) { 
    .blogCard{
        grid-template-columns: 1fr;
    }

    .cardContainer {
        padding: 2rem 2rem;
    }
    
    .blogImg { 
        order: -1;
    }
}

/* Single Blog */
.img-container {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    padding: 5rem 0 10rem;
}

/* PrevNext */
.pnWrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
    max-width: 800px; 
    margin-right: auto; 
    margin-left:  auto;
    padding-right: 30px; 
    padding-left:  30px;
}

.pnWrapper > a {
    display: flex;
    justify-content: center;
    border: 2px solid #35BCFF;
    width: 100%;
    padding: 2rem 5rem;
    color: inherit;
}

.pnWrapper > a:hover {
    opacity: 0.8;
}

/* Media Queries */
@media(max-width: 540px) { 
    .wrapper{
        padding: 2rem 0 10rem; 
    }
    
    .pnWrapper{
        flex-wrap: wrap;
    }
}