---
import { Image } from "astro:assets";
import logoImg from "../images/logo.png";
---

<header>
    <div class="container">
        <div>
            <a href="/">
                <Image src={logoImg} alt="logo" />
            </a>
            <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
